@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ededed;
  background: #131315;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  background: linear-gradient(to right, #b85406, #fe9a4d, #dc9c6a, #fe9a4d, #c65601);
  font-size: 30px;
  font-weight: 800;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  background: linear-gradient(to right, #b85406, #fe9a4d, #dc9c6a, #fe9a4d, #c65601);
  font-size: 24px;
  font-weight: 800;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.required::after {
  content: " *";
  color: red;
}

.btn-primary:is(.btn-disabled, [disabled], :disabled) {
  background-color: #666 !important;
  cursor: not-allowed !important;
  pointer-events: initial !important;
}